<template name="agentSummary">
  <div class="agent-summary">
    <h1>John Doe</h1>
    <h3>Hong Kong</h3>
    <h3>English</h3>
    <h3>#84652</h3>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Test Evaluation</h3>
    </div>
  </div>
  <div class="agent-summary">
    <h3>Phone Inbound: 26%</h3>
    <h3>Call Professionalism: 14%</h3>
    <h3>Email Response: 33%</h3>
    <h3>Email Professionalism: 11%</h3>
    <h1><b>Overall Experience: 99%</b></h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Score History</h3>
    </div>
  </div>

</template>