<template name="regionSummary">
  <div class="summary">
    <div id="region-summary">
      <h1><b>Hong Kong</b></h1>
      <div class="panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Region Average</h3>
          </div>
        </div>
      </div>
      <div class="region-summary">
        <h3>Phone Inbound: 26%</h3>
        <h3>Call Professionalism: 14%</h3>
        <h3>Email Response: 33%</h3>
        <h3>Email Professionalism: 11%</h3>
        <h2><b>Overall Experience: 99%</b></h2>
      </div>
      <div class="panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Region History</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>