<template name="registration">
  <div id="registration-form" class="accounts-view">
    <h1>Sign Up</h1>
    <form action="#" id="sign-up-form" role="form">

      <div class="form-group">
        <input type="email" id="accounts-email" class="form-control" placeholder="E-mail" autofocus>
      </div>
      <div class="form-group">
        <input type="password" id="accounts-password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="confirm" id="accounts-confirm" class="form-control" placeholder="Confirm Password">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
    <div class="other-links">
      <a href="{{pathFor 'login'}}">Login</a>
    </div>
  </div>
</template>