.post-form{
  h1{
    font-weight: bold;
  }
}

.phoneInbound-test{
  .sub-cat{
    h3{
      font-size: 30px;
      padding-left: 15%;
      font-weight: 300px
    }

    #short{
      padding-left: 30%;
    }

    .sub-cat-score{
      font-size: 60px;
      padding-left: 30%;
    }

    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }

  .cat{

    h1{
      font-size: 40px;
      padding-left: 24%;
    }

    .cat-score{
      font-size: 75px;
      font-weight: 300px;
      padding-left: 34%;
    }

    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }

  button[id=continue]{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 75px;
    margin-left: -10px;

    p{
      font-size:16px;
    }
  }
  button[id=logout]{
    float: right;
    margin-left: 35%;

    padding-left: 35px;
    padding-right: 35px;

    p{
      font-size: 16px;
    }
  }
}
.call-experience-test{
  .sub-cat{
    h3{
      font-size: 30px;
      padding-left: 15%;
      font-weight: 300px
    }

    #short{
      padding-left: 30%;
    }

    .sub-cat-score{
      font-size: 60px;
      padding-left: 30%;
    }

    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }

  .cat{

    h1{
      font-size: 37px;
      padding-left: 24%;
    }

    .cat-score{
      font-size: 70px;
      font-weight: 300px;
      padding-left: 30%;
    }
    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }
  .test-score{
    h1{
      font-size: 45px;
      padding-left: 30%;
    }

    .overall-score{
      font-size: 75px;
      padding-left: 30%;
    }
    .panel{
      box-shadow: 4px 4px 5px #888888;
    }

  }
  button[type=button]{
    margin-left: 62.5%;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 75px;

    p{

      font-size: 16px;
    }
  }
}

.email-response-test{
  .sub-cat{
    h3{
      font-size: 25px;
      // padding-left: 8px;
      font-weight: 300px
    }

    #personalization{
      padding-left: 28px;
    }

    #clarification{
      padding-left: 40px;
    }

    #q_benefits{
      padding-left: 45px;
    }

    .sub-cat-score{
      font-size: 60px;
      padding-left: 30%;
    }

    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }

  .cat{

    h1{
      font-size: 40px;
      padding-left: 24%;
    }

    .cat-score{
      font-size: 75px;
      font-weight: 300px;
      padding-left: 34%;
    }
    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }

  button[id=continue]{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 75px;
    margin-left: -10px;

    p{
      font-size:16px;
    }
  }
  button[id=logout]{
    float: right;
    margin-left: 35%;

    padding-left: 35px;
    padding-right: 35px;

    p{
      font-size: 16px;
    }
  }

}

.email-experience-test{
  .sub-cat{

    h3{
      font-size: 25px;
      // padding-left: 8px;
      font-weight: 300px
    }

    #personalization{
      padding-left: 28px;
    }

    #clarification{
      padding-left: 40px;
    }

    #q_benefits{
      padding-left: 45px;
    }

    .sub-cat-score{
      font-size: 60px;
      padding-left: 30%;
    }

    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }

  .cat{

    h1{
      font-size: 40px;
      padding-left: 23%;
    }

    .cat-score{
      font-size: 75px;
      font-weight: 300px;
      padding-left: 30%;
    }

    .panel{
      box-shadow: 4px 4px 5px #888888;
    }
  }
  .test-score{
    h1{
      font-size: 45px;
      padding-left: 30%;
    }

    .overall-score{
      font-size: 75px;
      padding-left: 30%;
    }

    .panel{
      box-shadow: 4px 4px 5px #888888;
    }

  }
  button[type=button]{
    margin-left: 62.5%;
    margin-bottom: 75px;
    padding-top: 6px;
    padding-left: 70px;
    padding-right: 70px;

    p{

      font-size: 16px;
    }
  }

}