.test-form {

  padding: 0;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;


  .category {
    padding-bottom: 20px;
  }

  h1, h2{
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
  }

  p {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }

  .questions {
    padding-bottom: 20px;
  }

  .btn-group{
    float: right;
  }

  button{
    float: right;
    margin: 0 0 0 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px
  }
}