<template name="emailProfessionalism">
  <div id="email-professionalism" class="test-form">
    <div class="category">
      <h1>Email Experience</h1>
      <h2>Email Professionalism</h2>
      <p>Please Provide The Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How would rate the overall speed of response to your request?</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How satisfied were you with how your requests were fulfilled?</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did you sence the LSM took sufficient ownership of responsibility for your request?</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Spelled checked and grammar checked</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">If handled by multiple LSM - how consistent was your service experience?</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Very consistent
            <input type="radio">Can feel the difference
            <input type="radio">I had to repeat myself
            <input type="radio">Change was clueless
          </div>
        </div>
      </div>

      <div class="btn-group">
        <a href="{{pathFor 'submitTest'}}">
          <button type="submit" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'personalization'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>