<template name="emailProfessionalism">
  <div id="email-professionalism" class="test-form">
    <div class="category">
      <h1>Email Experience</h1>
      <h2>Email Professionalism</h2>
      <p>Please Provide The Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How would rate the overall speed of response to your request?</h3>
          </div>
          <div class="panel-body">
            <label for="overall">Excellent</label>
            <input type="radio" name="overall" value="4">
            <label for="overall">Good</label>
            <input type="radio" name="overall" value="3">
            <label for="overall">Can Do Better</label>
            <input type="radio" name="overall" value="2">
            <label for="overall">Bad</label>
            <input type="radio" name="overall" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How satisfied were you with how your requests were fulfilled?</h3>
          </div>
          <div class="panel-body">
            <label for="requests">Excellent</label>
            <input type="radio" name="requests" value="4">
            <label for="requests">Good</label>
            <input type="radio" name="requests" value="3">
            <label for="requests">Can Do Better</label>
            <input type="radio" name="requests" value="2">
            <label for="requests">Bad</label>
            <input type="radio" name="requests" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did you sence the LSM took sufficient ownership of responsibility for your request?</h3>
          </div>
          <div class="panel-body">
            <label for="ownership">Yes</label>
            <input type="radio" name="ownership" value="2">
            <label for="ownership">No</label>
            <input type="radio" name="ownership" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Spelled checked and grammar checked</h3>
          </div>
          <div class="panel-body">
            <label for="grammar">Excellent</label>
            <input type="radio" name="grammar" value="4">
            <label for="grammar">Good</label>
            <input type="radio" name="grammar" value="3">
            <label for="grammar">Can Do Better</label>
            <input type="radio" name="grammar" value="2">
            <label for="grammar">Bad</label>
            <input type="radio" name="grammar" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">If handled by multiple LSM - how consistent was your service experience?</h3>
          </div>
          <div class="panel-body">
            <label for="multipleLsm">Very consistent</label>
            <input type="radio" name="multipleLsm" value="4">
            <label for="multipleLsm">Can feel the difference</label>
            <input type="radio" name="multipleLsm" value="3">
            <label for="mulitpleLsm">I had to repeat myself</label>
            <input type="radio" name="mulitpleLsm" value="2">
            <label for="multipleLsm">Change was clueless</label>
            <input type="radio" name="multipleLsm" value="1">
          </div>
        </div>
      </div>

      <div class="btn-group">
        <a href="{{pathFor 'submitTest'}}">
          <button type="submit" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'personalization'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>