<template name="callManagement">
  <div id="call-management-form" class="test-form">
    <div class="category">
      <h1>Phone Inbound</h1>
      <h2>Call Management</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">LSM address the member in an appropriate manner</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ask member to be placed on hold in an appropriate manner</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Usage of NATO</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes The Whole Time
            <input type="radio">Just Some
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Used effective questioning for clarification</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Used Effectively
            <input type="radio">Can Ask More
            <input type="radio">Needs Improvement
            <input type="radio">None
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Going the extra mile to upsell appropritely</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Provided Suitable Upsell
            <input type="radio">Provided Some
            <input type="radio">Provided Non-Esuitable
            <input type="radio">Did Not Upsell
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided appropriate options and knowledgable information</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ask member to be placed on hold in a polite manner</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the hold time more than 2 minutes</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'endCall'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'greeting'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>