<template name="callManagement">
  <div id="call-management-form" class="test-form">
    <div class="category">
      <h1>Phone Inbound</h1>
      <h2>Call Management</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">LSM address the member in an appropriate manner</h3>
          </div>
          <div class="panel-body">
            <label for="lsm">Yes</label>
            <input name="lsm" type="radio" value="2">
            <label for="lsm">No</label>
            <input name="lsm" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ask member to be placed on hold in an appropriate manner</h3>
          </div>
          <div class="panel-body">
            <label for="hold">Yes</label>
            <input name="hold" type="radio" value="2">
            <label for="hold">No</label>
            <input name="hold" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Usage of NATO</h3>
          </div>
          <div class="panel-body">
            <label for="nato">Yes The Whole Time</label>
            <input name="nato" type="radio" value="3">
            <label for="nato">Just Some</label>
            <input name="nato" type="radio" value="2">
            <label for="nato">No</label>
            <input name="nato" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Used effective questioning for clarification</h3>
          </div>
          <div class="panel-body">
            <label for="clarification">Used Effectively</label>
            <input name="clarification" type="radio" value="4">
            <label for="clarification">Can Ask More</label>
            <input name="clarification" type="radio" value="3">
            <label for="clarification">Needs Improvement</label>
            <input name="clarification" type="radio" value="2">
            <label for="clarification">None</label>
            <input name="clarification" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Going the extra mile to upsell appropritely</h3>
          </div>
          <div class="panel-body">
            <label for="upsell">Provided Suitable Upsell</label>
            <input type="radio" name="upsell" value="4">
            <label for="upsell">Provided Some</label>
            <input type="radio" name="upsell" value="3">
            <label for="upsell">Provided Non-suitable</label>
            <input type="radio" name="upsell" value="2">
            <label for="upsell">Did Not Upsell</label>
            <input type="radio" name="upsell" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided appropriate options and knowledgable information</h3>
          </div>
          <div class="panel-body">
            <label for="options">Excellent</label>
            <input type="radio" name="options" value="4">
            <label for="options">Good</label>
            <input type="radio" name="options" value="3">
            <label for="options">Can Do Better</label>
            <input type="radio" name="options" value="2">
            <label for="options">Bad</label>
            <input type="radio" name="options" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ask member to be placed on hold in a polite manner</h3>
          </div>
          <div class="panel-body">
            <label for="hold">Yes</label>
            <input type="radio" name="hold" value="2">
            <label for="hold">No</label>
            <input type="radio" name="hold" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the hold time more than 2 minutes</h3>
          </div>
          <div class="panel-body">
            <label for="two">Yes</label>
            <input type="radio" name="two" value="2">
            <label for="two">No</label>
            <input type="radio" name="two" value="1">
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'endCall'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'greeting'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>