<template name="callManagement">
  <div id="call-management-form" class="test-form">
    <div class="category">
      <h1>Phone Inbound</h1>
      <h2>Call Management</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">LSM address the member in an appropriate manner</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input name="yes" type="radio" value="2">
            <label for="no">No</label>
            <input name="no" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ask member to be placed on hold in an appropriate manner</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input name="yes" type="radio" value="2">
            <label for="no">No</label>
            <input name="no" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Usage of NATO</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes The Whole Time</label>
            <input name="yes" type="radio" value="3">
            <label for="some">Just Some</label>
            <input name="some" type="radio" value="2">
            <label for="no">No</label>
            <input name="no" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Used effective questioning for clarification</h3>
          </div>
          <div class="panel-body">
            <label for="effective">Used Effectively</label>
            <input name="effective" type="radio" value="4">
            <label for="more">Can Ask More</label>
            <input name="more" type="radio" value="3">
            <label for="improve">Needs Improvement</label>
            <input name="improve" type="radio" value="2">
            <label for="none">None</label>
            <input name="none" type="radio" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Going the extra mile to upsell appropritely</h3>
          </div>
          <div class="panel-body">
            <label for="suitable">Provided Suitable Upsell</label>
            <input type="radio" name="suitable" value="4">
            <label for="some">Provided Some</label>
            <input type="radio" name="some" value="3">
            <label for="non-suitable">Provided Non-suitable</label>
            <input type="radio" name="non-sutiable" value="2">
            <label for="no-upsell">Did Not Upsell</label>
            <input type="radio" name="no-upsell" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided appropriate options and knowledgable information</h3>
          </div>
          <div class="panel-body">
            <label for="excellent">Excellent</label>
            <input type="radio" name="excellent" value="4">
            <label for="good">Good</label>
            <input type="radio" name="good" value="3">
            <label for="better">Can Do Better</label>
            <input type="radio" name="better" value="2">
            <label for="bad">Bad</label>
            <input type="radio" name="bad" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ask member to be placed on hold in a polite manner</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the hold time more than 2 minutes</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'endCall'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'greeting'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>