<template name="endCall">
  <div id="end-call" class="test-form">
    <div class="category">
      <h1>Phone Inbound</h1>
      <h2>End Call</h2>
      <p>Please Answer Yes Or No. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Offered further assistance</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Offered contact method</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Summarization was provided for clarification / plan of action</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided an estimated time frame for response</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">End the call with proper closing</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'callProfessionalism'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'callManagement'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>