<template name="endCall">
  <div id="end-call" class="test-form">
    <div class="category">
      <h1>Phone Inbound</h1>
      <h2>End Call</h2>
      <p>Please Answer Yes Or No. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form" name="endCall">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Offered further assistance</h3>
          </div>
          <div class="panel-body">
            <label for="endCall[q13][score]">Yes</label>
            <input type="radio" name="endCall[q13][score]" value="2">
            <label for="endCall[q13][score]">No</label>
            <input type="radio" name="endCall[q13][score]" value="1">
            <label for="endCall[q13][score]">N/A</label>
            <input type="radio" name="endCall[q13][score]" value="0">
            <input type="hidden" name="endCall[q13][maxScore]" value="2">
            <input type="hidden" name="endCall[q13][question]" value="Offered further assistance">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Offered contact method</h3>
          </div>
          <div class="panel-body">
            <label for="endCall[q14][score]">Yes</label>
            <input type="radio" name="endCall[q14][score]" value="2">
            <label for="endCall[q14][score]">No</label>
            <input type="radio" name="endCall[q14][score]" value="1">
            <label for="endCall[q14][score]">N/A</label>
            <input type="radio" name="endCall[q14][score]" value="0">
            <input type="hidden" name="endCall[q14][maxScore]" value="2">
            <input type="hidden" name="endCall[q14][question]" value="Offered contact method">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Summarization was provided for clarification/plan of action</h3>
          </div>
          <div class="panel-body">
            <label for="endCall[q15][score]">Yes</label>
            <input type="radio" name="endCall[q15][score]" value="2">
            <label for="endCall[q15][score]">No</label>
            <input type="radio" name="endCall[q15][score]" value="1">
            <label for="endCall[q15][score]">N/A</label>
            <input type="radio" name="endCall[q15][score]" value="0">
            <input type="hidden" name="endCall[q15][maxScore]" value="2">
            <input type="hidden" name="endCall[q15][question]" value="Summarization was provided for clarification/plan of action">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided an estimated time frame for response</h3>
          </div>
          <div class="panel-body">
            <label for="endCall[q16][score]">Yes</label>
            <input type="radio" name="endCall[q16][score]" value="2">
            <label for="endCall[q16][score]">No</label>
            <input type="radio" name="endCall[q16][score]" value="1">
            <label for="endCall[q16][score]">N/A</label>
            <input type="radio" name="endCall[q16][score]" value="0">
            <input type="hidden" name="endCall[q16][maxScore]" value="2">
            <input type="hidden" name="endCall[q16][question]" value="Provided an estimated time frame for response">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">End the call with proper closing</h3>
          </div>
          <div class="panel-body">
            <label for="endCall[q17][score]">Yes</label>
            <input type="radio" name="endCall[q17][score]" value="2">
            <label for="endCall[q17][score]">No</label>
            <input type="radio" name="endCall[q17][score]" value="1">
            <label for="endCall[q17][score]">N/A</label>
            <input type="radio" name="endCall[q17][score]" value="0">
            <input type="hidden" name="endCall[q17][maxScore]" value="2">
            <input type="hidden" name="endCall[q17][question]" value="End the call with proper closing">
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-success" value="Submit Category">
      <a href="{{pathFor 'callManagement'}}">
        <button type="button" class="btn btn-default">Previous</button>
      </a>
    </form>
  </div>
</template>