<template name="greeting">
  <div id="greeting-form" class="test-form">
    <div class="category">
      <h1>Phone Inbound</h1>
      <h2>Greeting</h2>
      <p>Please Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was call answered with in less than 20 seconds</h3>
          </div>
          <div class="panel-body">
            <label for="answered">Yes</label>
            <input name="answered" type="radio" value="2">
            <label for="answered">No</label>
            <input name="answered" type="radio" value="1">
          </div>
        </div>
      </div>

      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Proper Greeting Used</h3>
          </div>
          <div class="panel-body">
            <label for="greeting">Yes</label>
            <input name="greeting" type="radio" value="2">
            <label for="greeting">No</label>
            <input name="greeting" type="radio" value="1">
          </div>
        </div>
      </div>

      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided Name to member</h3>
          </div>
          <div class="panel-body">
            <label for="name">Yes</label>
            <input name="name" type="radio" value="2">
            <label for="name">No</label>
            <input name="name" type="radio" value="1">
          </div>
        </div>
       </div>

      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Verified The Member</h3>
          </div>
          <div class="panel-body">
            <label for="member">Yes</label>
            <input name="member" type="radio" value="2">
            <label for="member">No</label>
            <input name="member" type="radio" value="1">
          </div>
        </div>
      </div>

      <a href="{{pathFor 'callManagement'}}">
        <input type="submit" class="btn btn-primary" value="next" >
      </a>
    </form>
  </div>
</template>