<template name="greeting">
  <div id="greeting-form" class="test-form">
    <div class="category">
      <h1>Phone Inbound for agent with ID: {{agentId}}</h1>
      <h1>Test ID: {{_id}}</h1>
      <h2>Greeting</h2>
      <p>Please Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was call answered with in less than 20 seconds</h3>
          </div>
          <div class="panel-body">
            <label for="q1[score]">Yes</label>
            <input name="q1[score]" type="radio" value="2">
            <label for="q1[score]">No</label>
            <input name="q1[score]" type="radio" value="1">
            <label for="q1[score]">N/A</label>
            <input type="radio" name="q1[score]" value="0">
            <input type="hidden" name="q1[maxScore]" value="2">
            <input type="hidden" name="q1[question]" value="Was call answered with in less than 20 seconds">
          </div>
        </div>
      </div>

      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Proper Greeting Used</h3>
          </div>
          <div class="panel-body">
            <label for="q2[score]">Yes</label>
            <input name="q2[score]" type="radio" value="2">
            <label for="q2[score]">No</label>
            <input name="q2[score]" type="radio" value="1">
            <label for="q2[score]">N/A</label>
            <input name="q2[score]" type="radio" value="0">
            <input type="hidden" name="q2[maxScore]" value="2">
            <input type="hidden" name="q2[question]" value="Proper Greeting Used">
          </div>
        </div>
      </div>

      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided Name to member</h3>
          </div>
          <div class="panel-body">
            <label for="q3[score]">Yes</label>
            <input name="q3[score]" type="radio" value="2">
            <label for="q3[score]">No</label>
            <input name="q3[score]" type="radio" value="1">
            <label for="q3[score]">N/A</label>
            <input name="q3[score]" type="radio"  value="0">
            <input type="hidden" name="q3[maxScore]" value="2">
            <input type="hidden" name="q3[question]" value="Provided Name to member">
          </div>
        </div>
       </div>

      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Verified The Member</h3>
          </div>
          <div class="panel-body">
            <label for="q4[score]">Yes</label>
            <input name="q4[score]" type="radio" value="2">
            <label for="q4[score]">No</label>
            <input name="q4[score]" type="radio" value="1">
            <label for="q4[score]">N/A</label>
            <input name="q4[score]" type="radio" value="0">
            <input type="hidden" name="q4[maxScore]" value="2">
            <input type="hidden" name="q4[question]" value="Verified The Member">
          </div>
        </div>
      </div>

      <input type="submit" class="btn btn-primary" value="Next">
    </form>
  </div>
</template>