<template name="adminChoice">

  <div id="admin_choice" class="admin_choice">
  <!-- change to new file in stylesheets^^ -->
    <div id="choice-buttons">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h1>Where Would You Like To Go?</h1>
          <p>Please choose from one of the following</p>

          <button type="button" id="send-invite" class="btn btn-warning">Send Invite</button>

          <a href="{{pathFor 'territoriesAverage'}}">
            <button type="button" id="territories-average" class="btn btn-primary" value="Territories Average">Territories Average</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>