<template name="callExperienceComplete">
  <div class="complete" id="callExperience">
    <div class="call-experience-test">
      <div class="post-form">
        <h1>Congratulations!</h1>
        <h2>You've Completed the Call Experience Category And The Phone Test!</h2>
        <p>Feel Free To Go Back And Review Your Answers To Make Sure They Are All Correct</p>

      </div>

      <div class="sub-cat">
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 id="short" class="panel-title">Greeting</h3>
            </div>
            <div class="panel-body">
              <div class="sub-cat-score">{{greeting}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Call Management</h3>
            </div>
            <div class="panel-body">
              <div class="sub-cat-score">{{call_management}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 id="short" class="panel-title">End Call</h3>
            </div>
            <div class="panel-body">
            <div class="sub-cat-score">{{end_call}}%</div>

            </div>
          </div>
        </div>
      </div>

      <div class="cat">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title">Call Experience</h1>
            </div>
            <div class="panel-body">
              <div class="cat-score">{{call_professionalism}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title">Phone Inbound</h1>
            </div>
            <div class="panel-body">
              <div class="cat-score">{{phone_inbound}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>


      <div class="test-score">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title">Test Result</h1>
            </div>
            <div class="panel-body">
              <div class="overall-score">{{test_results}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>


      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <button type="button" id="logout" class="btn btn-warning"><p>Logout</p></button>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

</template>