<template name="emailExperienceComplete">
  <div class="complete" id="callExperience">
    <div class="email-experience-test">
      <div class="post-form">
        <h1>Congratulations!</h1>
        <h2>You've Completed the Email Experience Category And The Email Test!</h2>
        <p>Feel Free To Go Back And Review Your Answers To Make Sure They Are All Correct</p>
      </div>

      <div class="sub-cat">
        <div class="col-md-3">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Time Management</h3>
            </div>
            <div class="panel-body">
              <div class="sub-cat-score">{{time_management}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 id="clarification" class="panel-title">Clarification</h3>
            </div>
            <div class="panel-body">
              <div class="sub-cat-score">{{clarification}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 id="q_benefits" class="panel-title">Q Benefits</h3>
            </div>
            <div class="panel-body">
              <div class="sub-cat-score">{{q_benefits}}%</div>

            </div>
          </div>
        </div>
        <div class="col-md-3">

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 id="personalization" class="panel-title">Personalization</h3>
            </div>
            <div class="panel-body">
              <div class="sub-cat-score">{{personalization}}%</div>

            </div>
          </div>
        </div>
      </div>


      <div class="cat">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title">Email Response</h1>
            </div>
            <div class="panel-body">
              <div class="cat-score">{{email_response}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title">Email Experience</h1>
            </div>
            <div class="panel-body">
              <div class="cat-score">{{email_experience}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="test-score">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title">Test Result</h1>
            </div>
            <div class="panel-body">
              <div class="overall-score">{{test_results}}%</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>


      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <button type="button" id="logout" class="btn btn-warning"><p>Logout</p></button>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

</template>