<template name="emailExperienceComplete">
  <div class="complete" id="callExperience">
    <div class="experience-test">
      <div class="post-form">
        <h1>Congratulations!</h1>
        <h2>You've Completed the Email Experience Category And Completed The Email Test!</h2>
      </div>


      <div class="sub-cat">
        <h2>Email Professionalism</h2>
          67%
      </div>


      <div class="sub-cat">
        <div class="col-md-3">
          <h2>Time Management</h2>
        </div>
        <div class="col-md-3">
          <div class="middle">
            <h2>Clarification</h2>
          </div>
        </div>
        <div class="col-md-3">
          <div class="last">
            <h2>Q Benefits</h2>
          </div>
        </div>
        <div class="col-md-3">
          <div class="last">
            <h2>Personalization</h2>
          </div>
        </div>


        <div class="col-md-3">
          <div class="first">
            <div class="score-percent">
              78%
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="middle">
            <div class="score-percent">
              56%
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="last">
            <div class="score-percent">
              39%
            </div>
          </div>
        </div>
      </div>

      <div class="cat">
        <div class="cat-title">
          <h2>Email Response</h2>
        </div>
        <div class="cat-score">
          68%
        </div>
      </div>


      <div class="test-score">
        <h1>Test Score Percentage</h1>
        <div class="test-score-percent">
          90%
        </div>
      </div>

      <button type="button" class="btn btn-warning">Logout</button>

    </div>
  </div>

</template>