<template name="phoneInboundComplete">
  <div class="complete" id="phoneInbound">
    <div class="post-form">
      <h1>Congratulations!</h1>
      <h2>You've Completed the Phone Inbound Category!</h2>
    </div>
    <div class="sub-cat">
      <div class="col-md-4">
        <h2>Greeting</h2>
      </div>
      <div class="col-md-4">
        <div class="middle">
          <h2>Call Management</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="last">
          <h2>End Call</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="first">
          <div class="score-percent">
            78%
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="middle">
          <div class="score-percent">
            56%
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="last">
          <div class="score-percent">
            39%
          </div>
        </div>
      </div>
    </div>
    <div class="cat">
      <div class="cat-title">
        <h2>Phone Inbound</h2>
      </div>
      <div class="cat-score">
        68%
      </div>
    </div>
    <button type="button" class="btn btn-warning">Finish Test And Logout</button>
    <button type="button" class="btn btn-success">Continue On To Call Experience</button>
  </div>
</template>



