<template name="clarification">
  <div id="clarification" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Clarification</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Using correct template</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How accurate was your fulfillment</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the explanation clear</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was alternative solution / supplier provided</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the recommendation Q worthy</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided appropriate options and knowledgable information</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did you feel adequate research had been taken?(Detailed information was provided, not just a link and the location name was sent)</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Recommendations were professional, clear, and concise</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Price / cost was broken down</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">All the points were covered in the initial request</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Excellent
            <input type="radio">Good
            <input type="radio">Can Do Better
            <input type="radio">Bad
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'qBenefits'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'timeManagement'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>