<template name="qBenefits">
  <div class="test-form">
    <div class="form-category">
      <h1>Q-Benefits</h1>
    </div>
    <div class="instructions">
      <h3>Please Leave Blank If Not Applicable</h3>
    </div>
    <form action="#" class="test-form">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">If recommended Q contracted supplier, did you advise the benfits?</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Yes
          <input type="radio">No

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Were the benefits promoted in an appealing manner?</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Yes
          <input type="radio">No
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'clarification'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
        <a href="{{pathFor 'personalization'}}">
          <button type="button" class="btn btn-default">Next</button>
        </a>
      </div>
    </form>
  </div>
</template>