<template name="personalization">
  <div class="test-form">
    <div class="form-category"></div>
      <h1>Personalization</h1>
    </div>
    <div class="instructions">
      <h3>Please Leave Blank If Not Applicable</h3>
    </div>
    <form action="#" class="q-form">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Offer additional suggestions</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Yes
          <input type="radio">No

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Provided deadline / disclaimers</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Yes
          <input type="radio">No
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Provided proper sign off</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Yes
          <input type="radio">No
        </div>
      </div>

      <div class="btn-group">
        <a href="{{pathFor 'qBenefits'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
        <a href="{{pathFor 'emailProfessionalism'}}">
          <button type="button" class="btn btn-default">Next</button>
        </a>
      </div>
    </form>
  </div>
</template>