<template name="personalization">
  <div id="personalization" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Personalization</h2>
      <p>Please Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Offer additional suggestions</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided deadline / disclaimers</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided proper sign off</h3>
          </div>
          <div class="panel-body">
            <input type="radio">Yes
            <input type="radio">No
          </div>
        </div>
      </div>

      <div class="btn-group">
        <a href="{{pathFor 'emailProfessionalism'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'qBenefits'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>