<template name="clarification">
  <div id="clarification" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Clarification</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form" name="clarification">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Using correct template</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[0][score]">Yes</label>
            <input type="radio" name="clarification[0][score]" class="score" value="2">
            <label for="clarification[0][score]">No</label>
            <input type="radio" name="clarification[0][score]" class="score" value="1">
            <label for="clarification[0][score]">N/A</label>
            <input type="radio" name="clarification[0][score]" class="score" value="0">
            <input type="hidden" name="clarification[0][maxScore]" value="2">
            <input type="hidden" name="clarification[0][question]" value="Using correct template">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How accurate was your fulfillment</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[1][score]">Excellent</label>
            <input type="radio" name="clarification[1][score]" class="score" value="4">
            <label for="clarification[1][score]">Good</label>
            <input type="radio" name="clarification[1][score]" class="score" value="3">
            <label for="clarification[1][score]">Can Do Better</label>
            <input type="radio" name="clarification[1][score]" class="score" value="2">
            <label for="clarification[1][score]">Bad</label>
            <input type="radio" name="clarification[1][score]" class="score" value="1">
            <label for="clarification[1][score]">N/A</label>
            <input type="radio" name="clarification[1][score]" class="score" value="0">
            <input type="hidden" name="clarification[1][maxScore]" value="4">
            <input type="hidden" name="clarification[1][question]" value="How accurate was your fulfillment">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the explanation clear</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[2][score]">Excellent</label>
            <input type="radio" name="clarification[2][score]" class="score" value="4">
            <label for="clarification[2][score]">Good</label>
            <input type="radio" name="clarification[2][score]" class="score" value="3">
            <label for="clarification[2][score]">Can Do Better</label>
            <input type="radio" name="clarification[2][score]" class="score" value="2">
            <label for="clarification[2][score]">Bad</label>
            <input type="radio" name="clarification[2][score]" class="score" value="1">
            <label for="clarification[2][score]">N/A</label>
            <input type="radio" name="clarification[2][score]" class="score" value="0">
            <input type="hidden" name="clarification[2][maxScore]" value="4">
            <input type="hidden" name="clarification[2][question]" value="Was the explanation clear">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was alternative solution/supplier provided</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[3][score]">Excellent</label>
            <input type="radio" name="clarification[3][score]" class="score" value="4">
            <label for="clarification[3][score]">Good</label>
            <input type="radio" name="clarification[3][score]" class="score" value="3">
            <label for="clarification[3][score]">Can Do Better</label>
            <input type="radio" name="clarification[3][score]" class="score" value="3">
            <label for="clarification[3][score]">Bad</label>
            <input type="radio" name="clarification[3][score]" class="score" value="1">
            <label for="clarification[3][score]">N/A</label>
            <input type="radio" name="clarification[3][score]" class="score" value="0">
            <input type="hidden" name="clarification[3][maxScore]" value="4">
            <input type="hidden" name="clarification[3][question]" value="Was alternative solution/supplier provided">

          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the recommendation Q worthy</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[4][score]">Yes</label>
            <input type="radio" name="clarification[4][score]" class="score" value="2">
            <label for="clarification[4][score]">No</label>
            <input type="radio" name="clarification[4][score]" class="score" value="1">
            <label for="clarification[4][score]">N/A</label>
            <input type="radio" name="clarification[4][score]" class="score" value="0">
            <input type="hidden" name="clarification[4][maxScore]" value="2">
            <input type="hidden" name="clarification[4][question]" value="Was the recommendation Q worthy">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided appropriate options and knowledgable information</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[5][score]">Excellent</label>
            <input type="radio" name="clarification[5][score]" class="score" value="5">
            <label for="clarification[5][score]">Good</label>
            <input type="radio" name="clarification[5][score]" class="score" value="3">
            <label for="clarification[5][score]">Can Do Better</label>
            <input type="radio" name="clarification[5][score]" class="score" value="2">
            <label for="clarification[5][score]">Bad</label>
            <input type="radio" name="clarification[5][score]" class="score" value="1">
            <label for="clarification[5][score]">N/A</label>
            <input type="radio" name="clarification[5][score]" class="score" value="0">
            <input type="hidden" name="clarification[5][maxScore]" value="5">
            <input type="hidden" name="clarification[5][question]" value="Provided appropriate options and knowledgable information">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did you feel adequate research had been taken?(Detailed information was provided, not just a link and the location name was sent)</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[6][score]">Excellent</label>
            <input type="radio" name="clarification[6][score]" class="score" value="4">
            <label for="clarification[6][score]">Good</label>
            <input type="radio" name="clarification[6][score]" class="score" value="3">
            <label for="clarification[6][score]">Can Do Better</label>
            <input type="radio" name="clarification[6][score]" class="score" value="2">
            <label for="clarification[6][score]">Bad</label>
            <input type="radio" name="clarification[6][score]" class="score" value="1">
            <label for="clarification[6][score]">N/A</label>
            <input type="radio" name="clarification[6][score]" class="score" value="0">
            <input type="hidden" name="clarification[6][maxScore]" value="4">
            <input type="hidden" name="clarification[6][question]" value="Did you feel adequate research had been taken?(Detailed information was provided, not just a link and the location name was sent)">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Recommendations were professional, clear, and concise</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[7][score]">Excellent</label>
            <input type="radio" name="clarification[7][score]" class="score" value="4">
            <label for="clarification[7][score]">Good</label>
            <input type="radio" name="clarification[7][score]" class="score" value="3">
            <label for="clarification[7][score]">Can Do Better</label>
            <input type="radio" name="clarification[7][score]" class="score" value="2">
            <label for="clarification[7][score]">Bad</label>
            <input type="radio" name="clarification[7][score]" class="score" value="1">
            <label for="clarification[7][score]">N/A</label>
            <input type="radio" name="clarification[7][score]" class="score" value="0">
            <input type="hidden" name="clarification[7][maxScore]" value="4">
            <input type="hidden" name="clarification[7][question]" value="Recommendations were professional, clear, and concise">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Price / cost was broken down</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[8][score]">Excellent</label>
            <input type="radio" name="clarification[8][score]" class="score" value="4">
            <label for="clarification[8][score]">Good</label>
            <input type="radio" name="clarification[8][score]" class="score" value="3">
            <label for="clarification[8][score]">Can Do Better</label>
            <input type="radio" name="clarification[8][score]" class="score" value="2">
            <label for="clarification[8][score]">Bad</label>
            <input type="radio" name="clarification[8][score]" class="score" value="1">
            <label for="clarification[8][score]">N/A</label>
            <input type="radio" name="clarification[8][score]" class="score" value="0">
            <input type="hidden" name="clarification[8][maxScore]" value="4">
            <input type="hidden" name="clarification[8][question]" value="Price / cost was broken down">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">All the points were covered in the initial request</h3>
          </div>
          <div class="panel-body">
            <label for="clarification[9][score]">Excellent</label>
            <input type="radio" name="clarification[9][score]" class="score" value="4">
            <label for="clarification[9][score]">Good</label>
            <input type="radio" name="clarification[9][score]" class="score" value="3">
            <label for="clarification[9][score]">Can Do Better</label>
            <input type="radio" name="clarification[9][score]" class="score" value="2">
            <label for="clarification[9][score]">Bad</label>
            <input type="radio" name="clarification[9][score]" class="score" value="1">
            <label for="clarification[9][score]">N/A</label>
            <input type="radio" name="clarification[9][score]" class="score" value="0">
            <input type="hidden" name="clarification[9][maxScore]" value="4">
            <input type="hidden" name="clarification[9][question]" value="All the points were covered in the initial request">
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Next">

      <button type="button" class="btn btn-info">Previous</button>
    </form>
  </div>
</template>