<template name="clarification">
  <div id="clarification" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Clarification</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Using correct template</h3>
          </div>
          <div class="panel-body">
            <label for="template">Yes</label>
            <input type="radio" name="template" value="2">
            <label for="template">No</label>
            <input type="radio" name="template" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How accurate was your fulfillment</h3>
          </div>
          <div class="panel-body">
            <label for="accurate">Excellent</label>
            <input type="radio" name="accurate" value="4">
            <label for="accurate">Good</label>
            <input type="radio" name="accurate" value="3">
            <label for="accurate">Can Do Better</label>
            <input type="radio" name="accurate" value="2">
            <label for="accurate">Bad</label>
            <input type="radio" name="accurate" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the explanation clear</h3>
          </div>
          <div class="panel-body">
            <label for="explanation">Excellent</label>
            <input type="radio" name="explanation" value="4">
            <label for="explanation">Good</label>
            <input type="radio" name="explanation" value="3">
            <label for="explanation">Can Do Better</label>
            <input type="radio" name="explanation" value="2">
            <label for="explanation">Bad</label>
            <input type="radio" name="explanation" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was alternative solution / supplier provided</h3>
          </div>
          <div class="panel-body">
            <label for="solution">Excellent</label>
            <input type="radio" name="solution" value="4">
            <label for="solution">Good</label>
            <input type="radio" name="solution" value="3">
            <label for="solution">Can Do Better</label>
            <input type="radio" name="solution" value="2">
            <label for="solution">Bad</label>
            <input type="radio" name="solution" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the recommendation Q worthy</h3>
          </div>
          <div class="panel-body">
            <label for="recommend">Yes</label>
            <input type="radio" name="recommend" value="2">
            <label for="recommend">No</label>
            <input type="radio" name="recommend" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided appropriate options and knowledgable information</h3>
          </div>
          <div class="panel-body">
            <label for="info">Excellent</label>
            <input type="radio" name="info" value="4">
            <label for="info">Good</label>
            <input type="radio" name="info" value="3">
            <label for="info">Can Do Better</label>
            <input type="radio" name="info" value="2">
            <label for="info">Bad</label>
            <input type="radio" name="info" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did you feel adequate research had been taken?(Detailed information was provided, not just a link and the location name was sent)</h3>
          </div>
          <div class="panel-body">
            <label for="research">Excellent</label>
            <input type="radio" name="research" value="4">
            <label for="research">Good</label>
            <input type="radio" name="research" value="3">
            <label for="research">Can Do Better</label>
            <input type="radio" name="research" value="2">
            <label for="research">Bad</label>
            <input type="radio" name="research" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Recommendations were professional, clear, and concise</h3>
          </div>
          <div class="panel-body">
            <label for="recommendations">Excellent</label>
            <input type="radio" name="recommendations" value="4">
            <label for="recommendations">Good</label>
            <input type="radio" name="recommendations" value="3">
            <label for="recommendations">Can Do Better</label>
            <input type="radio" name="recommendations" value="2">
            <label for="recommendations">Bad</label>
            <input type="radio" name="recommendations" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Price / cost was broken down</h3>
          </div>
          <div class="panel-body">
            <label for="cost">Excellent</label>
            <input type="radio" name="cost" value="4">
            <label for="cost">Good</label>
            <input type="radio" name="cost" value="3">
            <label for="cost">Can Do Better</label>
            <input type="radio" name="cost" value="2">
            <label for="cost">Bad</label>
            <input type="radio" name="cost" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">All the points were covered in the initial request</h3>
          </div>
          <div class="panel-body">
            <label for="points">Excellent</label>
            <input type="radio" name="points" value="4">
            <label for="points">Good</label>
            <input type="radio" name="points" value="3">
            <label for="points">Can Do Better</label>
            <input type="radio" name="points" value="2">
            <label for="points">Bad</label>
            <input type="radio" name="points" value="1">
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'qBenefits'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'timeManagement'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>