<template name="personalization">
  <div id="personalization" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Personalization</h2>
      <p>Please Answer Questions If Category Applies. All Questions Left Blank Or Marked N/A Will Not Be Calculated.</p>

    </div>
    <form action="#" class="q-form" name="personalization">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Offer additional suggestions?</h3>
          </div>
          <div class="panel-body">
            <label for="personalization[0][score]">Yes</label>
            <input type="radio" name="personalization[0][score]" class="score" value="2">
            <label for="personalization[0][score]">No</label>
            <input type="radio" name="personalization[0][score]" class="score" value="1">
            <label for="personalization[0][score]">N/A</label>
            <input type="radio" name="personalization[0][score]" class="score" value="0">
            <input type="hidden" name="personalization[0][maxScore]" value="2">
            <input type="hidden" name="personalization[0][questions]" value="Offer additional suggestions">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided deadlines or disclaimers?</h3>
          </div>
          <div class="panel-body">
            <label for="personalization[1][score]">Yes</label>
            <input type="radio" name="personalization[1][score]" class="score" value="2">
            <label for="personalization[1][score]">No</label>
            <input type="radio" name="personalization[1][score]" class="score" value="1">
            <label for="personalization[1][score]">N/A</label>
            <input type="radio" name="personalization[1][score]" class="score" value="0">
            <input type="hidden" name="personalization[1][maxScore]" value="2">
            <input type="hidden" name="personalization[1][question]" value="Provided deadline/disclaimers">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Provided proper sign off?</h3>
          </div>
          <div class="panel-body">
            <label for="personalization[2][score]">Yes</label>
            <input type="radio" name="personalization[2][score]" class="score" value="2">
            <label for="personalization[2][score]">No</label>
            <input type="radio" name="personalization[2][score]" class="score" value="1">
            <label for="personalization[2][score]">N/A</label>
            <input type="radio" name="personalization[2][score]" class="score" value="0">
            <input type="hidden" name="personalization[2][maxScore]" value="2">
            <input type="hidden" name="personalization[2][question]" value="Provided proper sign off">
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-success" value="Submit Category">
      <button type="button" class="btn btn-info">Previous</button>
    </form>
  </div>
</template>