<template name="qBenefits">
  <div id="q-benefits" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Q-Benefits</h2>
      <p>Please Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="test-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">If recommended Q contracted supplier, did you advise the benfits?</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Were the benefits promoted in an appealing manner?</h3>
          </div>
          <div class="panel-body">
            <label for="yes">Yes</label>
            <input type="radio" name="yes" value="2">
            <label for="no">No</label>
            <input type="radio" name="no" value="1">
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'personalization'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'clarification'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>