<template name="qBenefits">
  <div id="q-benefits" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Q-Benefits</h2>
      <p>Please Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="test-form" name="qBenefits">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">If recommended Q contracted supplier, did you advise the benefits?</h3>
          </div>
          <div class="panel-body">
            <label for="qBenefits[0][score]">Yes</label>
            <input type="radio" name="qBenefits[0][score]" value="2">
            <label for="qBenefits[0][score]">No</label>
            <input type="radio" name="qBenefits[0][score]" value="1">
            <label for="qBenefits[0][score]">N/A</label>
            <input type="radio" name="qBenefits[0][score]" value="0">
            <input type="hidden" name="qBenefits[0][maxScore]" value="2">
            <input type="hidden" name="qBenefits[0][question]" value="If recommended Q contracted supplier, did you advise the benefits?">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Were the benefits promoted in an appealing manner?</h3>
          </div>
          <div class="panel-body">
            <label for="qBenefits[1][score]">Yes</label>
            <input type="radio" name="qBenefits[1][score]" value="2">
            <label for="qBenefits[1][score]">No</label>
            <input type="radio" name="qBenefits[1][score]" value="1">
            <label for="qBenefits[1][score]">N/A</label>
            <input type="radio" name="qBenefits[1][score]" value="0">
            <input type="hidden" name="qBenefits[1][maxScore]" value="2">
            <input type="hidden" name="qBenefits[1][question]" value="Were the benefits promoted in an appealing manner?">
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Next">
      <a href="{{pathFor 'clarification'}}">
        <button type="button" class="btn btn-default">Previous</button>
      </a>
    </form>
  </div>
</template>