<template name="timeManagement">
  <div id="time-management" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Time Management</h2>
      <p>Please Answer Questions If Category Applies. All Questions Left Blank Or Marked N/A Will Not Be Calculated.</p>

    </div>
    <form action="#" class="q-form" name="timeManagement">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was request acknowledgment was recieved 30 minutes after placing request via email/phone?</h3>
          </div>
          <div class="panel-body">
            <label for="time_management[0][score]">Yes</label>
            <input type="radio" name="time_management[0][score]" class="score" value="2">
            <label for="time_management[0][score]">No</label>
            <input type="radio" name="time_management[0][score]" class="score" value="1">
            <label for="time_management[0][score]">N/A</label>
            <input type="radio" name="time_management[0][score]" class="score" value="0">
            <input type="hidden" name="time_management[0][maxScore]" value="2">
            <input type="hidden" name="time_management[0][question]" value="Request acknowledgment was recieved 30 minutes after placing request via email/phone.">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Were you given a sence of the next updated timescale?</h3>
          </div>
          <div class="panel-body">
            <label for="time_management[1][score]">Yes</label>
            <input type="radio" name="time_management[1][score]" class="score" value="2">
            <label for="time_management[1][score]">No</label>
            <input type="radio" name="time_management[1][score]" class="score" value="1">
            <label for="time_management[1][score]">N/A</label>
            <input type="radio" name="time_management[1][score]" class="score" value="0">
            <input type="hidden" name="time_management[1][maxScore]" value="2">
            <input type="hidden" name="time_management[1][question]" value="Were you given a sence of fulfillment / next update timescale?">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the next update timescale met?</h3>
          </div>
          <div class="panel-body">
            <label for="time_management[2][score]">Yes</label>
            <input type="radio" name="time_management[2][score]" class="score" value="2">
            <label for="time_management[2][score]">No</label>
            <input type="radio" name="time_management[2][score]" class="score" value="1">
            <label for="time_management[2][score]">N/A</label>
            <input type="radio" name="time_management[2][score]" class="score" value="0">
            <input type="hidden" name="time_management[2][maxScore]" value="2">
            <input type="hidden" name="time_management[2][question]" value="Was the fulfillment / next update timescale met?">



          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did you feel you recieved adequate updates during the course of the request fulfillment?</h3>
          </div>
          <div class="panel-body">
            <label for="time_management[3][score]">Yes</label>
            <input type="radio" name="time_management[3][score]" class="score" value="2">
            <label for="time_management[3][score]">No</label>
            <input type="radio" name="time_management[3][score]" class="score" value="1">
            <label for="time_management[3][score]">N/A</label>
            <input type="radio" name="time_management[3][score]" class="score" value="0">
            <input type="hidden" name="time_management[3][maxScore]" value="2">
            <input type="hidden" name="time_management[3][question]" value="Did you feel you recieved adequate updates during the course of the request fulfillment?">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">First response of information within estimated time?</h3>
          </div>
          <div class="panel-body">
            <label for="time_management[4][score]">Yes</label>
            <input type="radio" name="time_management[4][score]" class="score" value="2">
            <label for="time_management[4][score]">No</label>
            <input type="radio" name="time_management[4][score]" class="score" value="1">
            <label for="time_management[4][score]">N/A</label>
            <input type="radio" name="time_management[4][score]" class="score" value="0">
            <input type="hidden" name="time_management[4][maxScore]" value="2">
            <input type="hidden" name="time_management[4][question]" value="1st respond information within estimated time of response">
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Next">
    </form>
  </div>
</template>