<template name="timeManagement">
  <div id="time-management" class="test-form">
    <div class="category">
      <h1>Email Response</h1>
      <h2>Time Management</h2>
      <p>Please Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Request acknowledgment was recieved 30 minutes after placing request via email/phone. </h3>
          </div>
          <div class="panel-body">
            <label for="thirty">Yes</label>
            <input type="radio" name="thirty" value="2">
            <label for="thirty">No</label>
            <input type="radio" name="thirty" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Were you given a sence of fulfillment / next update timescale?</h3>
          </div>
          <div class="panel-body">
            <label for="update">Yes</label>
            <input type="radio" name="update" value="2">
            <label for="update">No</label>
            <input type="radio" name="update" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Was the fulfillment / next update timescale met?</h3>
          </div>
          <div class="panel-body">
            <label for="updateMet">Yes</label>
            <input type="radio" name="updateMet" value="2">
            <label for="updateMet">No</label>
            <input type="radio" name="updateMet" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did you feel you recieved adequate updates during the course of the request fulfillment?</h3>
          </div>
          <div class="panel-body">
            <label for="adequate">Yes</label>
            <input type="radio" name="adequate" value="2">
            <label for="adequate">No</label>
            <input type="radio" name="adequate" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">1st respond information within estimated time of response</h3>
          </div>
          <div class="panel-body">
            <label for="estimated">Yes</label>
            <input type="radio" name="estimated" value="2">
            <label for="estimated">No</label>
            <input type="radio" name="estimated" value="1">
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'clarification'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'callProfessionalism'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>
</template>