<template name="callProfessionalism">
  <div class="test-form">
    <div class="form-category">
      <h1>Call Professionalism</h1>
    </div>
    <div class="instructions">
      <h3>Please Answer To The Best Of Your Ablilties. Leave Blank If Not Applicable</h3>
    </div>
    <form action="#" class="q-form">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Shows respect, politeness, and is differential between the cardholder by using phrases such as, "Please", Thank You", "May I",... Etc.</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Used Effectively
          <input type="radio">Can Use More
          <input type="radio">Needs Improvement
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Did the LSM refer member by name through the call?</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Used Effectively
          <input type="radio">Can Use More
          <input type="radio">Needs Improvement
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Take initiative, -is assertive and accurate, reliable and conscienctious, takes the customer into mind before acting</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Excellent
          <input type="radio">Good
          <input type="radio">Can Do Better
          <input type="radio">Bad
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Maintains appropriate volume and tone</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Excellent
          <input type="radio">Good
          <input type="radio">Can Do Better
          <input type="radio">Bad
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Develops a trusting relationship</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Excellent
          <input type="radio">Good
          <input type="radio">Can Do Better
          <input type="radio">Bad
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Overall tone / handling of your telephone exchange</h3>
        </div>
        <div class="panel-body">
          <input type="radio">Excellent
          <input type="radio">Good
          <input type="radio">Can Do Better
          <input type="radio">Bad
        </div>
      </div>

      <div class="btn-group">
        <a href="{{pathFor 'endCall'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
        <a href="{{pathFor 'timeManagement'}}">
          <button type="button" class="btn btn-default">Next</button>
        </a>
      </div>
    </form>
  </div>

</template>