<template name="callProfessionalism">
  <div id="call-professionalism" class="test-form">
    <div class="category">
      <h1>Call Experience</h1>
      <h2>Call Professionalism</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form" name="callProfessionalism">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Shows respect, politeness, and is differential between the cardholder by using phrases such as, "Please", Thank You", "May I",... Etc.</h3>
          </div>
          <div class="panel-body">
            <label for="callProfessionalism[q1][score]">Used Effectively</label>
            <input type="radio" name="callProfessionalism[q1][score]" value="3">
            <label for="callProfessionalism[q1][score]">Can Use More</label>
            <input type="radio" name="callProfessionalism[q1][score]" value="2">
            <label for="callProfessionalism[q1][score]">Needs Improvement</label>
            <input type="radio" name="callProfessionalism[q1][score]" value="1">
            <label for="callProfessionalism[q1][score]">N/A</label>
            <input type="radio" name="callProfessionalism[q1][score]" value="0">
            <input type="hidden" name="callProfessionalism[q1][maxScore]" value="3">
            <input type="hidden" name="callProfessionalism[q1][question]" value="Shows respect, politeness, and is differential between the cardholder by using phrases such as, 'Please', 'Thank You', 'May I',... Etc.">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did the LSM refer member by name through the call?</h3>
          </div>
          <div class="panel-body">
            <label for="callProfessionalism[q2][score]">Used Effectively</label>
            <input type="radio" name="callProfessionalism[q2][score]" value="3">
            <label for="callProfessionalism[q2][score]">Can Use More</label>
            <input type="radio" name="callProfessionalism[q2][score]" value="2">
            <label for="callProfessionalism[q2][score]">Needs Improvement</label>
            <input type="radio" name="callProfessionalism[q2][score]" value="1">
            <label for="callProfessionalism[q2][score]">N/A</label>
            <input type="radio" name="callProfessionalism[q2][score]" value="0">
            <input type="hidden" name="callProfessionalism[q2][maxScore]" value="3">
            <input type="hidden" name="callProfessionalism[q2][question]" value="Did the LSM refer member by name through the call?">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Takes initiative, -is assertive and accurate, reliable and conscienctious, takes the customer into mind before acting</h3>
          </div>
          <div class="panel-body">
            <label for="callProfessionalism[q3][score]">Excellent</label>
            <input type="radio" name="callProfessionalism[q3][score]" value="4">
            <label for="callProfessionalism[q3][score]">Good</label>
            <input type="radio" name="callProfessionalism[q3][score]" value="3">
            <label for="callProfessionalism[q3][score]">Can Do Better</label>
            <input type="radio" name="callProfessionalism[q3][score]" value="2">
            <label for="callProfessionalism[q3][score]">Bad</label>
            <input type="radio" name="callProfessionalism[q3][score]" value="1">
            <label for="callProfessionalism[q3][score]">N/A</label>
            <input type="radio" name="callProfessionalism[q3][score]" value="0">
            <input type="hidden" name="callProfessionalism[q3][maxScore]" value="4">
            <input type="hidden" name="callProfessionalism[q3][question]" value="Takes initiative, -is assertive and accurate, reliable and conscienctious, takes the customer into mind before acting">


          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Maintains appropriate volume and tone</h3>
          </div>
          <div class="panel-body">
            <label for="callProfessionalism[q4][score]">Excellent</label>
            <input type="radio" name="callProfessionalism[q4][score]" value="4">
            <label for="callProfessionalism[q4][score]">Good</label>
            <input type="radio" name="callProfessionalism[q4][score]" value="3">
            <label for="callProfessionalism[q4][score]">Can Do Better</label>
            <input type="radio" name="callProfessionalism[q4][score]" value="2">
            <label for="callProfessionalism[q4][score]">Bad</label>
            <input type="radio" name="callProfessionalism[q4][score]" value="1">
            <label for="callProfessionalism[q4][score]">N/A</label>
            <input type="radio" name="callProfessionalism[q4][score]" value="0">
            <input type="hidden" name="callProfessionalism[q4][maxScore]" value="4">
            <input type="hidden" name="callProfessionalism[q4][question]" value="Maintains appropriate volume and tone">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Develops a trusting relationship</h3>
          </div>
          <div class="panel-body">
            <label for="callProfessionalism[q5][score]">Excellent</label>
            <input type="radio" name="callProfessionalism[q5][score]" value="4">
            <label for="callProfessionalism[q5][score]">Good</label>
            <input type="radio" name="callProfessionalism[q5][score]" value="3">
            <label for="callProfessionalism[q5][score]">Can Do Better</label>
            <input type="radio" name="callProfessionalism[q5][score]" value="2">
            <label for="callProfessionalism[q5][score]">Bad</label>
            <input type="radio" name="callProfessionalism[q5][score]" value="1">
            <label for="callProfessionalism[q5][score]">N/A</label>
            <input type="radio" name="callProfessionalism[q5][score]" value="0">
            <input type="hidden" name="callProfessionalism[q5][maxScore]" value="4">
            <input type="hidden" name="callProfessionalism[q5][question]" value="Develops a trusting relationship">

          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Overall tone/handling of your telephone exchange</h3>
          </div>
          <div class="panel-body">
            <label for="callProfessionalism[q6][score]">Excellent</label>
            <input type="radio" name="callProfessionalism[q6][score]" value="4">
            <label for="callProfessionalism[q6][score]">Good</label>
            <input type="radio" name="callProfessionalism[q6][score]" value="3">
            <label for="callProfessionalism[q6][score]">Can Do Better</label>
            <input type="radio" name="callProfessionalism[q6][score]" value="2">
            <label for="callProfessionalism[q6][score]">Bad</label>
            <input type="radio" name="callProfessionalism[q6][score]" value="1">
            <label for="callProfessionalism[q6][score]">N/A</label>
            <input type="radio" name="callProfessionalism[q6][score]" value="0">
            <input type="hidden" name="callProfessionalism[q6][maxScore]" value="4">
            <input type="hidden" name="callProfessionalism[q6][question]" value="Overall tone/handling of your telephone exchange">
          </div>
        </div>
      </div>
          <input type="submit" class="btn btn-success" value="Submit Category">
        <a href="{{pathFor 'endCall'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
    </form>
  </div>

</template>