<template name="callProfessionalism">
  <div id="call-professionalism" class="test-form">
    <div class="category">
      <h1>Call Experience</h1>
      <h2>Call Professionalism</h2>
      <p>Please Provide Best Answer. Leave Blank If Not Applicable</p>
    </div>
    <form action="#" class="q-form">
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Shows respect, politeness, and is differential between the cardholder by using phrases such as, "Please", Thank You", "May I",... Etc.</h3>
          </div>
          <div class="panel-body">
            <label for="effectively">Used Effectively</label>
            <input type="radio" name="effectively" value="3">
            <label for="more">Can Use More</label>
            <input type="radio" name="more" value="2">
            <label for="improvement">Needs Improvement</label>
            <input type="radio" name="improvement" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Did the LSM refer member by name through the call?</h3>
          </div>
          <div class="panel-body">
            <label for="effectively">Used Effectively</label>
            <input type="radio" name="effectively" value="3">
            <label for="more">Can Use More</label>
            <input type="radio" name="more" value="2">
            <label for="improvement">Needs Improvement</label>
            <input type="radio" name="improvement" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Takes initiative, -is assertive and accurate, reliable and conscienctious, takes the customer into mind before acting</h3>
          </div>
          <div class="panel-body">
            <label for="excellent">Excellent</label>
            <input type="radio" name="excellent" value="4">
            <label for="good">Good</label>
            <input type="radio" name="good" value="3">
            <label for="better">Can Do Better</label>
            <input type="radio" name="better" value="2">
            <label for="bad">Bad</label>
            <input type="radio" name="bad" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Maintains appropriate volume and tone</h3>
          </div>
          <div class="panel-body">
            <label for="excellent">Excellent</label>
            <input type="radio" name="excellent" value="4">
            <label for="good">Good</label>
            <input type="radio" name="good" value="3">
            <label for="better">Can Do Better</label>
            <input type="radio" name="better" value="2">
            <label for="bad">Bad</label>
            <input type="radio" name="bad" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Develops a trusting relationship</h3>
          </div>
          <div class="panel-body">
            <label for="excellent">Excellent</label>
            <input type="radio" name="excellent" value="4">
            <label for="good">Good</label>
            <input type="radio" name="good" value="3">
            <label for="better">Can Do Better</label>
            <input type="radio" name="better" value="2">
            <label for="bad">Bad</label>
            <input type="radio" name="bad" value="1">
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Overall tone / handling of your telephone exchange</h3>
          </div>
          <div class="panel-body">
            <label for="excellent">Excellent</label>
            <input type="radio" name="excellent" value="4">
            <label for="good">Good</label>
            <input type="radio" name="good" value="3">
            <label for="better">Can Do Better</label>
            <input type="radio" name="better" value="2">
            <label for="bad">Bad</label>
            <input type="radio" name="bad" value="1">
          </div>
        </div>
      </div>
      <div class="btn-group">
        <a href="{{pathFor 'timeManagement'}}">
          <button type="button" class="btn btn-primary">Next</button>
        </a>
        <a href="{{pathFor 'endCall'}}">
          <button type="button" class="btn btn-default">Previous</button>
        </a>
      </div>
    </form>
  </div>

</template>