<template name="agentInfo">
    <div class="agent-info-form">
      <h1>Agent Information</h1>
        <p> Please fill out the following fields based on the testing agents general information</p>
        <form action="#" id="basic-info-form">
          <input type="text" name="agent-name" placeholder="Agent Name" />
          <input type="text" name="agent-region" placeholder="Region" />
          <input type="text" name="agent-ref-number" placeholder="Reference #" />
          <input type="text" name="agent-test-date" placeholder="Date" />
          <a href="{{pathFor 'greeting'}}">
            <input type="submit" />
          </a>
        </form>
    </div>
</template>