<template name="agentInfo">
  <div id="agent-form" class="pre-form">
    <h1>Agent Information</h1>
    <p> Please fill out the following fields based on the agent's general information</p>
    <form id="agent-info-form" role="form">

      <div class="form-group">
        <input type="text" class="form-control" name="agent-first-name" placeholder="Agent First Name" required autofocus />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="agent-last-name" placeholder="Agent Last Name" />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="agent-email" placeholder="Agent E-Mail" />
      </div>


      <div class="form-group">
        <select class="form-control" id="agent-territory" form="agent-info-form">
          <option value="Asia">Asia</option>
          <option value="North America">North America</option>
          <option value="Europe">Europe</option>
          <option value="Africa">Africa</option>
        </select>
      </div>

      <button type="button" id="phone" class="btn btn-primary">Go To Phone Inbound</button>
      <button type="button" id="email" class= "btn btn-warning">Go To Email Response</button>
    </form>
  </div>
</template>