<template name="login">
  <div id="login-form" class="accounts-view">
    <h1>Login</h1>
    <form action="#" id="login-form" role="form">
      <div class="form-group">
        <input type="username" class="form-control" name="username" id="accounts-username" placeholder="username" autofocus>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" id="accounts-password" placeholder="password">
      </div>

      <input type= "submit" class="btn btn-primary">
    </form>
  </div>
</template>