<template name="login">
  <div id="login-form" class="accounts-view">
    <h1>Login</h1>
    <form action="#" id="login-form" role="form">
      <div class="form-group">
        <input type="email" class="form-control" name="email" id="accounts-email" placeholder="email" autofocus>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="password" id="accounts-password">
      </div>
        <a href="{{pathFor 'testNew'}}">
          <input type= "submit" class="btn btn-default">
        </a>

    </form>
    <div class="other-links">
      <a href="{{pathFor 'registration'}}">Sign Up |</a>
      <a href="#"> Forgot Password?</a>
    </div>
  </div>
</template>