<template name="whitelist">
  <div class="whitelist">
    <div class=" ">
      <h2>As Administrator, Please Enter First Name, Family Name, <br> And Email For Persons That Will Be Conducting Agent Tests</h2>
    </div>
    <form action="#" class="whitelist-form" role="form">

      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Sur Name">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email">
      </div>

      <input type="submit" class="btn btn-default">

    </form>

    <div class="panel panel-default">
    <div class="panel-heading">Whitelisted Testers</div>

      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Sur Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jane</td>
            <td>Goodall</td>
            <td>j.good@gmail.com</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>jdoe@gmail.com</td>
          </tr>
          <tr>
            <td>Steve</td>
            <td>Bro</td>
            <td>steve.br@gmail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>