<template name="whitelist">
  <div id="whitelist-form" class="accounts-view">
      <h2>Approve Testers</h2>
      <p>Please add the full names and emails of testers that will be conducting the tests on agents.</p>
    <form action="#" class="whitelist-form" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" autofocus>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email">
      </div>
      <a href="{{pathFor 'login'}}">
        <input type="submit" class="btn btn-primary">
      </a>
    </form>
    <div class="whitelist-table">
      <div class="panel panel-default">
        <div class="panel-heading">Approved Testers</div>
        <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jane</td>
              <td>Goodall</td>
              <td>j.good@gmail.com</td>
            </tr>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>jdoe@gmail.com</td>
            </tr>
            <tr>
              <td>Steve</td>
              <td>Bro</td>
              <td>steve.br@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>